<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style media="screen">
  body{
    background-image: url(1212.jpg);
    background-size: 100%;
    background-attachment: fixed;
  }
  .regis{
    background-color: white;
    opacity: 0.8;
    width: 60%;
  }
</style>
<body>
  <center>
  <div ng-app="myApp" ng-controller="myCtrl" class="regis">
    Enter your name:
    <br>
  <input type="text" ng-model="name"><br>
  {{ErrorName()}}
  <br>
  Enter your password:<br>
  <input type="password" ng-model="pass" style="background-color:{{myBackGroundColor}}">
  <br>
  <input type="password" placeholder="confirm your password" ng-model="confPass"
  style="background-color:{{myBackGroundColor2}}"><br>
  {{ErrorPass()}}

  </div>
</center>
  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
      $scope.name = "";
  	$scope.myBackGroundColor = "lightblue";
  	$scope.myBackGroundColor2 = "lightblue";
  	$scope.pass = "";
  	$scope.confPass= "";
  	$scope.ErrorName = function(){
  		if(!($scope.name == "")){
  			if(!($scope.pass=="")){
  			 $scope.myBackGroundColor = "white";
  			 $scope.myBackGroundColor2 = "lightblue";
  			}
  			if($scope.confPass == $scope.pass && $scope.pass!=""){
  				$scope.myBackGroundColor = "lightgreen";
  				$scope.myBackGroundColor2 = "lightgreen";
  			}
  			else if(!($scope.pass=="")){
  			 $scope.myBackGroundColor = "white";
  			 $scope.myBackGroundColor2 = "lightblue";
  			}
  			else{
  			 $scope.myBackGroundColor = "lightblue";
  			 $scope.myBackGroundColor2 = "lightblue";
  			}
  			return "";
  		}
  		else{
  			return "Not Valid";
  		}
  	};
    $scope.ErrorPass = function(){
      if ($scope.pass.length!="") {
        if ($scope.pass.length<8) {
          return "Very weak password";
        }
        if ($scope.pass.length>=8) {
          return "Strong password";
        }
      }
    };
  });
  </script>

  </body>
  </html>
